*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height:59px;
}

/*----------------------------------------- Navigation Bar--------------------------------------------- */
.navbar
{
    position:fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: +3;
}
.navbar ul
{
    display: flex;
    
}

.navbar::before
{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
    
}

#navbar ul li a
{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;   
}
