@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Pacifico&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


*
{
    margin: 0;
    padding: 0;
}

body{
    background-color:#0F292F;   
}

html
{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height:59px;
}

/*----------------------------------------- Navigation Bar--------------------------------------------- */

.navbar
{
    position: fixed;
    width: 100%;
    background-color:#14A098;
    margin: 0rem 0rem;
    padding: 0.5rem auto;
    z-index: +2;
    opacity: 1;

}
.navbar .navelements
{
    margin-left:26rem;
}
.navbar ul li
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    justify-content: center;
    display: inline-flex;
    color: white;
    text-decoration: none;
    list-style: none;
    width:15%;
    padding: 0rem 0rem;
    margin: 0.3rem 0.1rem;
}

.navbar a
{
    text-align: center;
    width: 90%;
    padding: 0.5rem 0.4rem;
    color: white;
    text-decoration: none;
    border: 1px solid #14A098;
    border-radius: 19px;

}

.navbar #sign
{
    display: inline-flex;
    position:absolute;
    color: white;
    width: 10%;
    margin: 0.5rem 4.6rem;
}

.navbar a:hover
{
    text-decoration: underline;
    border: 1px solid white;
    border-radius: 19px;
    background-color: #CCCCCC;
    color: #14A098;
}
.hamberger
{
    display: none;
}
/* ----------------------------------------HEAD SECTION--------------------------------------- */
#head{
    padding: 2rem;
    background-color: #0F292F;
}

/* --------------------------------------HOME SECTION---------------------------------------------- */
#home
{
    margin: 0rem 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0rem;
    width: 100%;
    height: 100%; 
    z-index: -1;
    background-color:#0F292F;
}
#home::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#home .home-items{
    margin: 6rem 5rem;
    padding: 1rem;
    display: flex;
    width: 90%;
    flex-direction: row;
}
#home .img
{
    width:20%;
    display: block;
    margin:0rem auto;
    margin-bottom: 0rem;
    padding: 0rem 0rem;
    padding-bottom: 0rem;
    height: 100%;
    z-index: +1;
    opacity: 0.9;
}

#home img{
    border: 0.5rem solid white;
    width: 100%;
    height: auto;
}
#home .content
{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 2.4rem;
    color: #CCCCCC;
    width: 50%;
    height: auto;
}

/* --------------------------------------ABOUT SECTION------------------------------------------------- */
#aboutme-pointer
{

    padding: 2rem;
    background-color: #0F292F;
}

#Aboutme
{
    z-index: -2;
    font-family: 'Basic', sans-serif;
    padding: 1rem 0rem;
    width: 100%;
    justify-content: center;
    background-color:#0F292F;
}
#Aboutme .Heading
{
    font-size: 1.7rem;
    width: 100%;
    color: #CCCCCC;
    margin: 0rem 0rem;
    justify-content: center;
    text-align: center;
}
#Aboutme .Heading h1
{
    display: inline;
    margin-right: 1rem;
}
#Aboutme .Heading h2
{
    font-size: 3.4rem;
    color: #14A098;
    display: inline-block;
}

#Aboutme .ContentA
{
    border-radius: 3rem;
    margin: 0.1rem auto;
    background-color: #14A098;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    width: 90%;
    align-items: center;
    justify-content: center;
}
#Aboutme .ContentA .left
{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1rem 0rem;
    margin-left: 12rem;
    padding: 9rem;
    display: inline-block;
}

#Aboutme .ContentA .right
{
    color: #CCCCCC;
    display: inline-block;
    margin: 0.1rem 2rem;
    margin-left: 0rem;
    width: 40.5%;
    padding: 1rem;
}

#Aboutme .ContentA .right h2
{
    font-size: 2.2rem;
    color: #0F292F;
}
#Aboutme .ContentA .right h4
{
    font-size: 1.2rem;
    color: #0F292F;
    padding-bottom:1.2rem ;
}
#Aboutme .ContentA .right p
{
    color: #0F292F;
    font-size: 1.3rem;
    padding: 0.25rem 0rem;
}


/* ------------------------------------EDUCATION SECTION----------------------------------------------- */

#education-pointer
{
    padding: 2rem;
    background-color: #0F292F;
}

#Education
{
    padding: 0.2rem 0rem;
    width: 100%;
    height: 100%;
    background-color:#0F292F;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
}

#Education .heading
{
    color:#CCCCCC;
    font-family: 'Basic', sans-serif; 
    font-size: 1.7rem;
    align-items: center;
    text-align: center;
    margin-top: 0rem;
    padding: 0rem;
}

#Education .btech
{
    background-color: #14A098;
    box-shadow: 4px 4px #14A098;
    border: 2px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0rem ;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 3fr;
}
#Education .btech .logo
{
    display: block;
    padding: 4rem;
    background: url("medicaps.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#Education .btech .content
{
    padding: 0rem 1rem;
    font-family: 'Ubuntu', sans-serif;
}
#Education .btech .content h2
{
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
    color: #CCCCCC;
}
#Education .btech .content h4
{
    font-size: 1.2rem;
    color: #CCCCCC;
    padding: 0.3rem 0rem;
}
#Education .btech .content h5
{
    color: #CCCCCC;
    font-size: 1.3rem;
    padding: 0.3rem 0rem;
}

#Education .HSC
{
    background-color: #14A098;
    box-shadow: 4px 4px #14A098;
    border: 2px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0rem ;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 3fr;
}
#Education .HSC .logo
{
    display: block;
    padding: 4rem;
    background: url("sbvm.jpg");
    background-repeat: no-repeat;
    background-size: 230px;
}

#Education .HSC .content
{
    padding: 0rem 1rem;
    font-family: 'Ubuntu', sans-serif;
}
#Education .HSC .content h2
{
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
    color: #CCCCCC;
}
#Education .HSC .content h4
{
    font-size: 1.2rem;
    color: #CCCCCC;
    padding: 0.3rem 0rem;
}
#Education .HSC .content h5
{
    color: #CCCCCC;
    font-size: 1.3rem;
    padding: 0.3rem 0rem;
}


#Education .SSC
{
    background-color: #14A098;
    box-shadow: 4px 4px #14A098;
    border: 2px solid rgba(128, 128, 128, 0.521);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0rem ;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 3fr;
}
#Education .SSC .logo
{
    display: block;
    padding: 4rem;
    background: url("sbvm.jpg");
    background-repeat: no-repeat;
    background-size: 230px;
}
#Education .SSC .content
{
    padding: 0rem 1rem;
    font-family: 'Ubuntu', sans-serif;
}
#Education .SSC .content h2
{
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
    color: #CCCCCC;
}
#Education .SSC .content h4
{
    font-size: 1.2rem;
    color: #CCCCCC;
    padding: 0.3rem 0rem;
}
#Education .SSC .content h5
{
    color: #CCCCCC;
    font-size: 1.3rem;
    padding: 0.3rem 0rem;
}
/* --------------------------------------SKILLS SECTION------------------------------------------------ */
#skills-pointer
{

    padding: 2rem;
    background-color: #0F292F;
}

#Skills
{
    margin-top: 0rem;
    padding: 0.2rem 0rem;
    width: 100%;
    background-color:#0F292F;
}
#Skills .heading
{
    text-align: center;
    color: #CCCCCC;
    width: 100%;
    margin: 0.5rem 0rem;
    margin-top: 0rem;
    font-family: 'Basic', sans-serif; 
    font-size: 1.7rem;
    justify-content: center;
}
#Skills .content
{
    border: 1px solid black;
    border-radius: 2rem;
    background-color: #14A098;
    text-align: center;
    width: 85%;
    height: 100%;
    margin: 0.2rem auto;
    padding: 1.2rem;

}

#Skills .content .container
{
    border: 1px solid black;
    background-color: white;
    padding: 3.5rem;
    margin: 0.6rem 1rem;
    height: auto;
    border-radius: 0.4rem;
    width: 10%;
    height: 15%;
}

#Skills .content .container:hover
{
    cursor: pointer;
}

#cl
{
    background-image: url("c.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;

}

#cpp
{
    display: inline-block;
    background-image: url("c++.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#java
{
    background-image: url("java.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#python
{
    background-image: url("python.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#html
{
    background-image: url("html.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#css
{
    background-image: url("css.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#mysql
{
    background-image: url("mysql.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

#dsa
{
    background-image: url("dsa.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

/* -------------------------------------WORK SECTION--------------------------------------------------- */
#work-pointer
{

    padding: 2rem;
    background-color: #0F292F;
}

#Work
{
    background-color:#0F292F;
    padding: 1rem 0rem;
    width: 100%;
    margin-bottom: 0rem;
    text-align: center;   
}
#Work .heading
{
    color: #CCCCCC;
    width: 100%;
    margin: 0rem 0rem;
    font-family: 'Basic', sans-serif; 
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}
#Work .project
{
    border: 1px solid #14A098;
    background-color: #14A098;
    padding: 0rem;
    margin: 1rem 1rem;
    width: 40%;
    display: inline-block;

}
#Work .project h2{
    margin: 0rem 0rem;
    font-family: 'Basic', sans-serif; 
    color: #f5f3f3;
}
#Work .project img{
    width: 100%;
    height: fit-content;
}
/* ------------------------------------CONTACT SECTION------------------------------------------------- */
#contact-pointer
{

    padding: 2rem;
    background-color: #0F292F;
}
#Contact
{
    background-color:#0F292F;
    padding: 0rem;
    width: 100%;
    margin-bottom: 0rem;   
}
#Contact .heading
{
    color: #CCCCCC;
    width: 99.4%;
    margin: 0.5rem 0.2rem;
    margin-top: 0rem;
    font-family: 'Basic', sans-serif; 
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}
#Contact .heading h1
{
    display: inline;
    margin-right: 1rem;
}
#Contact .heading h2
{
    margin-top: 0.2rem;
    font-size: 3.4rem;
    color: #14A098;
    display: inline-block;
}

#Contact .form
{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2.5rem 1rem;
    width: 85%;
    background-color: #14A098;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#Contact .form .image
{
    background: url("contact.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 90%;
    height: 90%;
}
#Contact .form input,textarea,button
{
    background-color: #CCCCCC;
    margin: 0.4rem 2rem;
    border: 1px solid ;
    width: 80%;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0rem 1.2rem;
    color: black;
    font-size: 1.2rem;
}
textarea
{
    height: 8rem;
}
button:hover
{
    border: 0.15rem solid black;
    background-color: #14A098;
}

/* ----------------------------------------LINKS------------------------------------------------------- */
.links
{
    padding-top: 2rem;
    z-index: -1;
    background-color:#0F292F;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    font-family: 'Basic', sans-serif;  
}

.links .linkdein
{
    padding: 0.5rem 0.3rem;
}

.links .contactinfo
{
    color: #CCCCCC;
    margin: 0rem 1.5rem;
    padding: 0.5rem 1rem;
}
.links .contactinfo h4
{
    padding: 0.4rem 0.3rem;
    font-size: 1rem;
}
.links .contactinfo h1
{
    color: #14A098;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
}
.links .contactinfo img
{
    padding-right: 0.6rem;
}

.links .quicklinks
{
    color: #CCCCCC;
    margin: 0rem 1.5rem;
    padding: 0.2rem 0.8rem;
    display: grid;
}
.links .quicklinks li
{
    padding: 0.2rem;
}
.links .quicklinks li:hover
{
    color: #14A098;
}
.links .quicklinks a:hover
{
    color: #14A098;
}
.links .quicklinks a
{
    color: #CCCCCC;
    font-size: 1.3rem;
}
.links .quicklinks h1
{
    color: #14A098;
    font-size: 1.7rem;
    padding: 0.5rem 0rem;
}
.links .thank
{
    margin: 0rem 1.5rem;
    padding: 2rem 0.2rem;
    color: #CCCCCC;

}
.links .thank p
{
    padding-top: 4rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}