.navbar #sign
{
    color: white;
    margin: 0.5rem auto;
    display: block;
    position: relative;
}
.navbar .navelements
{
    /* border: 1px solid red; */
    margin:0rem auto;
}
.navbar
{
    margin: 0rem 0rem;
    padding: 0.5rem auto;
    text-align: center;
}

.navbar ul li
{
    justify-content: center;
    width:15%;
    padding: 0rem 0rem;
}

.navbar a
{
    width: 100%;
    padding: 0.5rem 0.2rem;
}

/* -------------------------------------------------------HOME SECTION-------------------------------------------------- */
#home
{
    /* width: 200%; */
}
/* -----------------------------------------------------ABOUT ME SECTION------------------------------------------------ */
#Aboutme
{
    /* width: 200%; */
    text-align: center;
}
#Aboutme .ContentA .left
{
    /* border: 1px solid; */
    margin: 0rem;
    margin-left:3rem ;
    width: 0%;
}
#Aboutme .ContentA .right
{
    display: block;
    /* border: 1px solid blue; */
    text-align: justify;
    margin: 0.1rem 0rem;
    width: 95%;
    padding: 1rem;
}
#Aboutme .ContentA .right h2
{
    text-align: center;
}
#Aboutme .ContentA .right h4
{
    text-align: center;
}

/* -------------------------------------------------------SILLS SECTION------------------------------------------------- */
#Skills .content
{
    height: 100%;
    padding: 0.2rem;
    width: 85%;

}
#Skills .content .container
{
    width: 5%;
    height: 10%;
}


/* ----------------------------------------------------CONTACT SECTION-------------------------------------------------- */

#Contact .form
{
    background: url("contact.jpg") no-repeat center center/cover;
    padding: 0.5rem;
    width: 85%;
    margin: 2rem auto;
}
#Contact .form .image
{
    display: none;
}

#Contact form
{
    display: block;
    justify-content: center;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    width: 200%;
}
#Contact .form input,textarea,button
{
    position: relative;
    margin: 0.4rem 1.1rem;
    
    border: 1px solid ;
    width: 90%;
    padding: 0rem 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    background-color:white;
    opacity: 0.7;
    color: black;
}

/* ----------------------------------------------LINKS------------------------------------------------------------------ */
